<div class="add-product">
    <h1>Add New Product</h1>
    <p class="p_msg">{{addProductMessage}}</p>
    <form #addproduct="ngForm" (ngSubmit)="submit(addproduct.value)" class="common-form ">
        <input type="text" 
        class="form-input" 
        placeholder="Product Name" 
        name="name" 
        ngModel 
        />

        <input 
        type="text" 
        class="form-input" 
        placeholder="Product Price" 
        name="price" 
        ngModel 
        />

        <input 
        type="text" 
        class="form-input" 
        placeholder="Product Category" 
        name="category" 
        ngModel 
        />

        <input 
        type="text" 
        class="form-input" 
        placeholder="Product Code" 
        name="code" 
        ngModel 
        />

        <textarea
            type="text" 
            class="form-input" 
            placeholder="Product Description" 
            name="description" 
            ngModel 
        ></textarea>
        
        <input 
        type="text" 
        class="form-input" 
        placeholder="Product Image Url" 
        name="image" 
        ngModel 
        />
        <button class="form-button">Add product</button>
    </form>
</div>