<div class="product-list">
    <a routerLink="/add-product"><h1 class="addProduct">Add-Product</h1></a>
    <h1>Product list</h1>
    <p class="p_msg">{{productMessage}}</p>
    <table class="">
        <thead>
            <tr>
                 <th>Image</th>
                 <th>Name</th>
                 <th>Price</th>
                 <th>Category</th>
                 <th>Code</th>
                 <th>Description</th>
                 <th>Action</th>
                 <!-- <th>Image</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productList">
                <td><img src="{{item.image}}" alt=""></td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.category}}</td>
                <td>{{item.code}}</td>
                <td>{{item.description}}</td>
                <td>
                    <fa-icon (click)="deleteProduct(item.id)" [icon]="icon"></fa-icon>
                    <a routerLink="/update-product"><fa-icon  [icon]="icon"></fa-icon></a>
                    <!-- <button (click)="deleteProduct(item.id)">Delete</button></td> -->

            </tr>
        </tbody>
    </table>
</div>