<div class="Update-product">
    <h1>Update Product</h1>
    <p class="p_msg">{{productMessage}}</p>
    <form #addproduct="ngForm" (ngSubmit)="submit(addproduct.value)" class="common-form ">
        <input type="text" 
        class="form-input" 
        placeholder="Product Name" 
        name="name" 
        ngModel ="{{productData?.name}}"
        />

        <input 
        type="text" 
        class="form-input" 
        placeholder="Product Price" 
        name="price" 
        ngModel ="{{productData?.price}}"
        />

        <input 
        type="text" 
        class="form-input" 
        placeholder="Product Category" 
        name="category" 
        ngModel ="{{productData?.category}}"
        />

        <input 
        type="text" 
        class="form-input" 
        placeholder="Product Code" 
        name="code" 
        ngModel ="{{productData?.code}}"
        />

        <textarea
            type="text" 
            class="form-input" 
            placeholder="Product Description" 
            name="description" 
            ngModel ="{{productData?.description}}"
        ></textarea>
        
        <input 
        type="text" 
        class="form-input" 
        placeholder="Product Image Url" 
        name="image" 
        ngModel ="{{productData?.image}}"
        />
        <button class="form-button">Update product</button>
    </form>
</div>