<div class="navbar navbar-dark bg-success bg-gradient shadow-sm">
    <i style="font-size: 35px; padding-left: 12px;" class=" fas fa-feather "></i>  
    <nav class="navbar-item">
        <ul>
            <li><a routerLink="">Dashboard</a></li>
            <li><a routerLink="products">Product</a></li>
            <li><a routerLink="cart">Cart</a></li>
        </ul>
    </nav> 
    <button class="btn btn-secondary">
        <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-danger">3</div>
    </button>    
</div>